body{
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
  font-family: 'Nunito', sans-serif;
}
.row{ margin: 0}
nav.navbar{
  background-color: #2c056c;
  min-height: 80px;
  margin-bottom: 0;
}
nav .container-fluid{
  height: 100%;
}
nav .navbar-header{
  height: 100%;
}
.navbar-header .navbar-brand{
  padding: 5px 15px;
  height: 100%;
}
#myNavbar .navbar-collapse{
  height: 100%;
  border: none;
}
.navbar-nav.navbar-right{
  height: 100%;
  padding: 26px;
  font-size: 20px;
}
.navbar-nav.navbar-right a.nav-link{

  color: #fff;
}
.navbar-nav.navbar-right a.nav-link:hover{

  color: #ccc;
}
.banner{
  text-align: center;
}
.carousel-inner .item img {
    max-height: 800px;
    margin: 0 auto;
}
.noticia{
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #2c056c;
  height: 400px;
  margin-top: 15px;
  margin-bottom:  15px;
}
.contenido-noticia{
  padding: 15px;
}
.noticia .img-thumbnail{
  height: 200px;
  width: auto;
}
.tag{
  background-color: #32bdd4;
  color: #fff;
  padding: 3px 10px;
}
.seccion-noticia{
  border: 1px solid #2c056c;
  margin-bottom: 15px;
}
.noticia-img{
  text-align: center;
}
.noticia-contenido{
  padding: 10px;
}
.categoria{
  padding: 10px 0;
}
.noticias-contenedor{
  padding-top: 100px;
}
.seccion-mision{
  padding:  50px 10px;
}

.seccion-mision h1{
  color: red;
}
.seccion-mision h2{
  padding-top: 30px;
  color: green;
}
.btn-primary {
    background-color: #653da7;
    color: #fff;
    border-color: #204d74;
}
.btn-primary:hover {

    color: #fff;
    background-color: #653dd7;
    border-color: #204d74;

}
.glyphicon.glyphicon-chevron-left,
.glyphicon.glyphicon-chevron-right{
  color: red;
}
.carousel-control.left,
.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,.5) 0,rgba(255,255,255,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(255,255,255,.5) 0,rgba(255,255,255,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.5)),to(rgba(255,255,255,.0001)));
    background-image: linear-gradient(to right,rgba(255,255,255,.5) 0,rgba(255,255,255,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}


/*** Footer ***/
.footer{
  width: 100%;
  background-color: #968aab;
  min-height: 300px;
}
.footer .col-md-4{
  padding: 40px;
  box-sizing: border-box;
}
.footer .col-md-4 h4{
  text-align: center;
  font-weight: bold;
}
.redes-sociales{
  text-align: center;
}
.redes-sociales img{
  max-width: 10%;
}
.redes-sociales img:hover{
  opacity: 0.5;
}
.iconos{
  padding: 40px 0;
}
textarea{
  resize: none;
}
@media (max-width: 800px) {
  .navbar-header .navbar-brand img{
    padding: 5px;
    width: 40%;
  }
}
